<div class="main">
    <app-nav-bar></app-nav-bar>
    <div class="content">
        <app-left-panel></app-left-panel>
        <div class="box-2">
            <div class="choice-container">
                <h1>
                    New Trip
                </h1>
                <p>
                    Congratulations on decideing to take an adventure! How can we help you plan it?
                </p>
                <div class="options">
                    <div class="card" (click)="createManualTrip()">
                        <img href="">
                        <h2>Plan By Yourself</h2>
                    </div>
                    <div class="card">
                        <img href="">
                        <h2>Plan With Our AI Assistant</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>