<div class="left-panel">
    <div class="user-info">
        <span>
            <svg height="150" width="150">
                <circle cx="70" cy="90" r="60" stroke="grey" stroke-width="3" fill="white" />
            </svg> 
        </span>
        <p> First Last</p>
        <p> Lorem Ipsum Dolor</p>
    </div>
    <div class="menus">
        <div class="trip-menu">
            <p>Trips</p>
            <p>My Trips</p>
            <p>Friend's Trips</p>
            <p (click)="createTrip()">New Trip</p>
        </div>
        <p>Friends</p>
        <p>Settings</p>
    </div>
    <img src="../assets/seaweed.png" style="position: relative; left:5rem; bottom: -1rem;">
</div>