
.left-panel {
    display:block;
    width:15rem;
    height: 53rem;
    border-radius: 30px;
    background: #028090;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
}

.user-info {
    width:100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    color: #F5F5F5;
    text-align: center;
    font-family: Bayon;
    font-size: 15px;
    font-style: normal;
    font-weight: 20;
    line-height: normal;
}

.menus {
    background: #039DB0;
    width:100%;
    height: 38rem;
    border-radius: 30px;
    text-align: center;
    color:#F5F5F5
}
.trip-menu {
    background: #F5F5F5;
    width:95%;
    display: flex;
    flex-direction: column;
    color: #028090;
    border-radius: 30px;
    font-family: Bayon;
    font-size: 15px;
    font-style: normal;
    font-weight: 20;
    line-height: normal;
    margin-right: -2rem;
    margin-left: auto;
    margin-top: 4rem;
    clip-path: inset(0 2rem 0 0);
}
