<div class="main">
    <app-nav-bar></app-nav-bar>
    <div class="content">
        <app-left-panel></app-left-panel>

        <div class="mid-section">
            <div class="trip-preview">
                <br><br>
                <div class="upcoming-events">
                    <div class="event-text">
                        <h1>Boston</h1>
                        <h3> Lorem ipsum 6/22/2023</h3>
                    </div>
                </div>
            </div>

            <div class="trips">
                <h1>My Trips</h1>
                <div class="trips-container">
                    <app-trip-card></app-trip-card>
                    <app-trip-card></app-trip-card>
                    <app-trip-card></app-trip-card>
                    <app-trip-card></app-trip-card>
                </div>
            </div>
        </div>

        <div class="right-panel">
            <div class="friend-activity">
                <h1>Friend Activity</h1>
                <p>Find Friends</p>
                <div class="friend-trip-container">
                    <div class="friend-trip"></div>
                    <div class="friend-trip"></div>
                    <div class="friend-trip"></div>
                </div>
            </div>
            <div class="count-down-container">
                <div class="count-down"></div>
            </div>
            <img src="../assets/seaweed.png" style="position: relative; right:5rem; bottom: 12rem;">
        </div>
    </div>
</div>