.trips h1 {
    margin-top: .5rem;
    color:#F5F5F5;
    text-align: center;
}
.main {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.content {
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 38px;
    padding-bottom: 38px;
    display: flex;
    justify-content: center;
}

.mid-section {
    width: 45%;
    height: 53rem;
    display:block;
    margin-left:4%;
    margin-right:4%;
}

.trip-preview {
    background-color: #028090;
    border-radius: 30px;
    height:15rem;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.08);
}
.upcoming-events {
    background-image: url('../assets/BostonLayered.png');
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    color:#F5F5F5;
}

.event-text {
    margin-left: 4rem;
    margin-top: 1rem;
    flex-direction: column;
    display: flex;
}

.trips {
    margin-top: 5%;
    background-color: #028090;
    border-radius: 30px;
    height:36rem;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.08);
}

.right-panel {
    display:block;
    width: 25%;
    height: 53rem;
}

.friend-activity {
    border-radius: 30px;
    height:39rem;
    background: #028090;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.08);
    color:#F5F5F5;
    text-align: center;
}
.count-down-container {
    margin-top:2rem;
    border-radius: 30px;
    background: #028090;
    height: 12rem;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.08);
}

.count-down {
    height: 80%;
    width: 70%;
    background-image: url('../assets/BostonBottom.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#F5F5F5;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 1rem;
}

.trips-container {
    border-radius: 30px;
    background: #039DB0;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.08);
    padding: 2rem;
    margin-left: 1rem;
    margin-right:3rem;
    height: 27rem;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.08);
}

.trip-collapsed {
    margin-top: 1rem;
    background-color: #F5F5F5;
    border-radius: 15px;
    height: 3rem;
}

.trip-expanded {
    background-color: #F5F5F5;
    border-radius: 15px;
    height:13rem;
    margin-top: 1rem;
}

.friend-trip-container {
    border-radius: 30px;
    background: #039DB0;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.08);
    width: 17rem;
    height:70%;
    margin: 1rem;
    padding: 1rem;
}

.friend-trip {
    border-radius: 15px;
    background: #FFF;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.08);
    height: 7rem;
    width: 90%;
    margin: 1rem;
}

